In [1]:
import numpy as np
import datagen_Heisenberg as dgen
import datagen_Config as dgen_conf
import pickle
from pathlib import Path
import os
import pandas as pd
import calculations as tools
import geometric_tools as gt
import matplotlib.pyplot as plt
import string

In [2]:
J_vec = np.array([1.1,12,37])
B_vec = np.array([1,1,1])
delta_t = 0.05
T=200
L = 6
psi0 =np.zeros(2**L,dtype=complex)
psi0[5] = 1
psi0_tag = 'zzzzzz_000101'
bc='closed'
folder_path = "./Test_Heisenberg"

datagen_Heisenberg_Test = dgen_conf.DataGen_Config(L,J_vec,B_vec,bc,delta_t,T,psi0,psi0_tag,folder_path)

In [3]:
DYN = datagen_Heisenberg_Test.datagen('dyn')

Looking inside the database ./Test_Heisenberg/dyn_database.json
The data was already generated. Retreiving it at ./Test_Heisenberg/dyn_6.pickle ...

In [4]:
datagen_Heisenberg_Test.print_database('dyn')

,Size,J,B,bc,delta t,T,psi0_tag,Label
0,0,"[0, 0, 0]","[0, 0, 0]",open,0.00,0,tag0,0
1,2,"[1.1, 12.0, 37.0]","[10, 13, 9]",closed,0.05,1000,xx_00,1
2,2,"[1.1, 12.0, 37.0]","[10, 13, 9]",closed,0.05,100,xx_00,2
3,4,"[1.1, 12.0, 37.0]","[10, 13, 9]",closed,0.05,100,xx_00,3
4,6,"[1.1, 12.0, 37.0]","[1, 1, 9]",closed,0.05,200,xx_00,4
5,6,"[1.1, 12.0, 37.0]","[1, 1, 9]",closed,0.05,200,zzzzzz_000101,5
6,6,"[1.1, 12.0, 37.0]","[1, 1, 1]",closed,0.05,200,zzzzzz_000101,6
7,6,"[1.1, 12.0, 37.0]","[1, 1, 1]",closed,0.05,200,xxxxxx_000000,7
8,6,"[1, 1, 1]","[0.8320000000000001, 0.9276000000000001, 0.0]",closed,0.02,1000,zzzzzz_000101,8
9,3,"[1, 1, 0]","[3, 1, 0]",closed,0.02,1000,zzzzzz_000101,9
10,6,"[1, 1, 0]","[3, 1, 0]",closed,0.02,1000,zzzzzz_000101,10
11,4,"[1, 1, 0]","[3, 1, 0]",closed,0.02,1000,zzzzzz_000101,11

In [13]:
prova = tools.Calculations(DYN[0])
#XX[k,0],XX[k,1]=prova.expectation_tagged_operator('XI'),prova.expectation_tagged_operator('IX')

In [14]:
rho_45 = prova.reduced_density_matrix([4,5])

In [15]:
prova.rho_log_rho(rho_45)

0