In [1]:
import numpy as np
import pandas as pd
import indexing as ind

In [2]:
first_record = [0,[0,0,0],[0,0,0],'open',0]
df = pd.DataFrame([first_record],columns=['Size','J','B','bc','Label'])
df.to_json("./Test_Heisenberg/test_database.json",orient='split',index=False)

In [3]:
prova = ind.Index("./Test_Heisenberg/test_database.json")

In [4]:
prova.print_database()

   Size          J          B    bc  Label
0     0  [0, 0, 0]  [0, 0, 0]  open      0

In [5]:
new_record_1 = [4,[1,1,1],[0.83,0.9,0],'closed']

In [10]:
to_check=[0,[0,0,0],[0,0,0],'Open']

In [11]:
prova.check_presence(to_check)

(True, 0)

In [12]:
prova.print_database()

   Size          J          B    bc  Label
0     0  [0, 0, 0]  [0, 0, 0]  open      0

In [13]:
prova.add_record(new_record_1)

This record was not present. Adding new record.
Updating index with new information

In [14]:
new_record_1 = [4,[1,1,1],[0.83,0.9,0],'Closed']

In [15]:
prova.add_record(new_record_1)

This record is already present. Not adding anything.

In [16]:
prova.print_database()

   Size          J               B      bc  Label
0     0  [0, 0, 0]       [0, 0, 0]    open      0
1     4  [1, 1, 1]  [0.83, 0.9, 0]  closed      1

In [17]:
new_record = [8,[11,1,1],[1,0.9,0],'Open']
prova.add_record(new_record)

This record was not present. Adding new record.
Updating index with new information

In [18]:
new_record = [12,[1,0,0],[0,1,0],'Closed']
prova.add_record(new_record)

This record was not present. Adding new record.
Updating index with new information

In [19]:
to_check = [0,[0,0,0],[0,0,0],'Open']

In [23]:
new_record = [12,[1,0,0],[0,1,0],'Closed']
prova.get_label(new_record)

3

In [24]:
prova.print_database()

   Size           J               B      bc  Label
0     0   [0, 0, 0]       [0, 0, 0]    open      0
1     4   [1, 1, 1]  [0.83, 0.9, 0]  closed      1
2     8  [11, 1, 1]     [1, 0.9, 0]    Open      2
3    12   [1, 0, 0]       [0, 1, 0]  Closed      3

In [ ]:
prova.remove_record(to_check)

In [ ]:
prova.print_database()

In [ ]:
prova.add_record(to_check)

In [ ]:
prova.print_database()

In [ ]:
df = prova.index_dframe

In [ ]:
df.loc[3]['Label']

In [ ]:
val = prova.get_label(to_check)

In [ ]:
val

In [25]:
AA = [2]*10

In [26]:
AA

[2, 2, 2, 2, 2, 2, 2, 2, 2, 2]